.mockup_mobile2{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.mockup_mobile_in2{
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:2000;
  border: 1px solid rgb(252, 233, 233);
  width: 430px;
  height: 790px;
  background-color: rgb(252, 231, 231);
  position: relative;
  border-radius: 40px;
}

.mockup_mobile_in2:before {
  content: '';
  position: absolute;
  width: 96.5%;
  height: 98%;
  border-radius: 33px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.mockup_mobile_in2 .iframe-url{
  position: absolute;
  width: 398px;
  height: 715px;
  background-color: #777;
  border: 1px solid #eee;
  border-radius: 12px 12px 27px 27px;
  color: #fff;
  font-size: 2rem;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup_mobile_in2 .iframe-url iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 27px 27px;
}

.mockup_mobile_in2 .camera {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 40px;
}

.mockup_mobile_in2 .camera span {
  background-color: #555;
  position: absolute;
}

.mockup_mobile_in2 .camera span:nth-child(1) {
  width:23px;
  height:23px;
  border-radius:50%;
  left:135px;
  top:50%;
  transform:translateY(-50%);
}

.mockup_mobile_in2 .camera span:nth-child(2) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 179px;
  top: 50%;
  transform: translateY(-50%);
}

.mockup_mobile_in2 .camera span:nth-child(3) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 177px;
  top: 50%;
  transform: translateY(-50%);
}

.mockup_mobile_in2 .camera span:nth-child(4) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 135px;
  top: 50%;
  transform: translateY(-50%);
}

.mockup_mobile_in2 .power {
  position: absolute;
  right: 0;
  top: 150px;
}

.mockup_mobile_in2 .power span {
  position: absolute;
  width: 6px;
  height: 100px;
  border-radius: 0 5px 5px 0;
  background-color:rgb(186, 186, 186);
}

.mockup_mobile_in2 .volume {
  position: absolute;
  width: 6px;
  height: 200px;
  top: 130px;
  right: 100%;
}

.mockup_mobile_in2 .volume span {
  position: absolute;
  width: 6px;
  height: 55px;
  border-radius: 0 5px 5px 0;
  transform: rotate(180deg);
  background-color:rgb(186, 186, 186);
}

.mockup_mobile_in2 .volume span:nth-child(1) {
  top: 0;
  width: 5px;
  height: 40px;
}

.mockup_mobile_in2 .volume span:nth-child(2) {
  bottom: 80px;
}

.mockup_mobile_in2 .volume span:nth-child(3) {
  bottom: 0;
}

.mockup_mobile_in2 .volume span,
.mockup_mobile_in2 .power span{
  background-color:rgb(186, 186, 186);
}

/* 메뉴 뒤로 나오는 검정배경 */
.mockup_mobile2 .w_back5{ 
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
}

/*버튼영역*/
.mockup_mobile2 .w_btn5{
  position:fixed;
  left:50%;
  top:-20px;
  margin-left:300px;
  width:110px;
  height:140px;
  color:#fff;
  text-align:center;
  overflow:hidden;
  z-index:10000;
}

.mockup_mobile2 .w_btn5 .w_btn_close5{ /*닫기버튼*/
  width:110px;
  height:90px;
  cursor:pointer;
  border-bottom:1px solid #fff;
}

.mockup_mobile2 .w_btn5 .w_btn_close5 i{ /*아이콘폰트*/
  position:relative;
  top:15px;
  font-size:60px;
}